* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header_bottom .bottom_left .inner_bottom_left button, .contact_us button {
  padding: 5px 15px;
  background-color: #76c38f;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.background_img {
  background-image: url(../img/nature.jpg);
  background-size: cover;
}

.header_area {
  background-color: #4c4c4c80;
  overflow: hidden;
  padding-bottom: 50px;
  height: 100vh;
}

.nav_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px 0;
}

.nav_area .main_logo span {
  display: block;
  color: #979797;
}

.nav_area .main_nav ul li {
  display: inline-block;
}

.nav_area .main_nav ul li a {
  display: block;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_area .main_nav ul li a:hover {
  background-color: #76c38f;
}

.header_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_bottom .bottom_left {
  width: 50%;
}

.header_bottom .bottom_left .inner_bottom_left {
  max-width: 325px;
  height: auto;
  margin-left: 65px;
  margin-top: 30px;
}

.header_bottom .bottom_left .inner_bottom_left h2 {
  color: #ffffff;
  font-size: 46px;
}

.header_bottom .bottom_left .inner_bottom_left p {
  color: #979797;
  font-size: 14px;
  margin-top: 20px;
}

.header_bottom .bottom_left .inner_bottom_left button {
  color: #ffffff;
  margin-top: 20px;
}

.header_bottom .bottom_right {
  width: 50%;
}

.header_bottom .bottom_right img {
  width: 380px;
  height: 380px;
  border: 25px solid #6b6b6b;
  border-radius: 50%;
}

.main_body {
  padding: 60px 0 30px 0;
}

.main_body .service_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.main_body .service_area .custom_card {
  text-align: center;
  cursor: pointer;
}

.main_body .service_area .custom_card img {
  margin: 0 auto;
  padding-top: 20px;
  width: 120px;
  height: 120px;
}

.main_body .service_area .custom_card h3 {
  font-size: 32px;
}

.main_body .service_area .custom_card:hover {
  background-color: #76c38f;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.middle_border {
  width: auto;
  height: 3px;
  background-color: #303030;
  position: relative;
}

.middle_border .latest_work {
  width: 255px;
  height: 50px;
  margin: 0 auto;
  background-color: #303030;
  color: #ffffff;
  text-align: center;
  border-radius: 7px;
  left: 0;
  right: 0;
  top: -23px;
  position: relative;
}

.middle_border .latest_work h3 {
  font-size: 32px;
  line-height: 1.5;
  text-transform: uppercase;
}

.body_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  max-width: 1140px;
  height: auto;
}

.body_bottom .body_bottom_img {
  width: 300px;
  height: 200px;
  margin-bottom: 30px;
  border: 5px solid #ffffff;
  position: relative;
}

.body_bottom .body_bottom_img img {
  width: 290px;
  height: 190px;
}

.body_bottom .body_bottom_img .img_caption {
  width: 290px;
  height: 30px;
  text-align: center;
  background-color: black;
  opacity: 0.5;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.body_bottom .body_bottom_img:hover {
  border-color: #76c38f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.body_bottom .body_bottom_img:hover .img_caption {
  display: none;
}

.footer_area {
  background-color: #303030;
}

.footer_area .inner_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}

.footer_area .inner_footer .common_footer_child {
  width: 225px;
}

.footer_area .inner_footer .common_footer_child h4 {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer_area .inner_footer .common_footer_child h5 {
  font-size: 14px;
  color: #76c38f;
}

.the_blog .admin {
  color: #666666;
}

.the_blog .admin span {
  color: #76c38f;
}

.the_blog span {
  color: #979797;
}

.the_blog p {
  color: #979797;
}

.the_blog a {
  float: right;
  color: #76c38f;
}

.quick_link ul {
  padding-left: 0;
}

.quick_link ul li a {
  color: #76c38f;
}

.quick_link hr {
  background-color: #b4a1a1;
  margin: 12px 0;
}

.latest_tweets p {
  color: #979797;
}

.latest_tweets p span {
  color: #76c38f;
}

.contact_us input[type="text"], .contact_us input[type="email"] {
  width: 100%;
  background-color: #222222;
  padding: 10px;
  text-transform: capitalize;
  border: none;
  border-radius: 7px;
  margin-bottom: 10px;
}

.contact_us textarea {
  width: 100%;
  background-color: #222222;
  text-transform: capitalize;
  padding: 10px;
  border: none;
  border-radius: 7px;
  margin-bottom: 10px;
}

.contact_us button {
  color: #303030;
  font-weight: bold;
  text-transform: uppercase;
}

.footer_bottom_border {
  color: black;
  height: 5px;
  margin: 0 0;
}

.copy_right {
  padding: 20px 0;
  background-color: #2b2b2b;
}

.copy_right .inner_copy_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copy_right .inner_copy_right p {
  margin-bottom: 0;
  color: #979797;
}

.copy_right .inner_copy_right .cpr_left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.copy_right .inner_copy_right .cpr_right {
  width: 50%;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=style.css.map */